body {
  margin: 0;
}

body.pop-up {
  background-color: #fff8f0 !important;
}

.message {
  font-family: calibri, sans-serif;
  font-weight: normal;
  color: #fff8f0;
}

h1 {
  font-size: 40px;
  margin: 10px 0px;
}

p {
  margin-bottom: 40px;
}

#pop-up {
  position: relative;
  top: 100px;
  width: 500px;
  margin: 0 auto;
  text-align: center;
}

#pop-up .container {
  background-color: #272c2f;
  border: solid 5px white;
  box-shadow: 10px 5px 5px #868686;
  padding: 30px;
  position: initial;
  top: 150px;
  width: 100%;
  box-sizing: border-box;
}

#pop-up input {
  padding: 10px;
  border-radius: 10px 0 0 10px;
  border: 1px solid #333;
  font-size: 18px;
}

button {
  padding: 10px;
  border: 0;
  color: #fff;
  background-color: #333;
  margin-left: -5px;
  border-radius: 0 10px 10px 0;
  font-size: 18px;
}

.cross {
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: #555;
  color: #ddd;
  font-weight: bold;
  width: 22px;
  height: 22px;
  text-align: center;
  border-radius: 11px;
}

/* ANIMATED POP-UP Style */
#pop-up {
  transform-origin: 10px 10px;
  top: -470px;
  right: -90px;
  animation: drop 2s linear forwards, swing 4s 5s ease forwards;
}

@keyframes drop {
  0% {
    opacity: 0;
  }
  70% {
    transform: translateY(650px);
  }
  100% {
    transform: translateY(400px);
    opacity: 1;
  }
}
@keyframes swing {
  0% {
    transform: translateY(400px) rotateZ(0deg);
  }
  40% {
    transform: translateY(400px) rotateZ(90deg);
  }
  70% {
    transform: translateY(400px) rotateZ(70deg);
  }
  100% {
    transform: translateY(400px) rotateZ(75deg);
  }
}
/* ANIMATED POP-UP Style */
.submit-wrapper {
  margin-top: 80px;
  justify-items: center;
}

.submit-wrapper a {
  box-shadow: 10px 5px 5px #868686;
  border: 2px solid #9dd9d2;
  color: #000;
  padding: 20px 25px;
  text-decoration: none;
  position: relative;
  letter-spacing: 8px;
  transition: all 0.6s;
  z-index: 1;
}

.submit-wrapper a:before,
.submit-wrapper a:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 24px;
  height: 4px;
  background: #9dd9d2;
  margin-left: -12px;
  margin-top: -2px;
  transition: all 0.6s;
}

.submit-wrapper a:after {
  left: auto;
  right: 0;
  margin-right: -12px;
}

.submit-wrapper a:hover:before,
.submit-wrapper a:hover:after {
  width: 100%;
  transition: all 0.6s;
  background: #fff;
  transform: scaleY(5);
  z-index: -1;
}

.submit-wrapper a:hover {
  text-decoration: none;
  background: #9dd9d2;
  transition: all 0.6s;
  color: #fc965a;
  font-weight: bold;
}

.submit-wrapper2 {
  margin-top: 50px;
  justify-items: center;
}

.submit-wrapper2 a {
  box-shadow: 10px 5px 5px #868686;
  border: 2px solid #9dd9d2;
  color: #000;
  padding: 20px 25px;
  text-decoration: none;
  position: relative;
  letter-spacing: 8px;
  transition: all 0.6s;
  z-index: 1;
}

.submit-wrapper2 a:before,
.submit-wrapper2 a:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 24px;
  height: 4px;
  background: #9dd9d2;
  margin-left: -12px;
  margin-top: -2px;
  transition: all 0.6s;
}

.submit-wrapper2 a:after {
  left: auto;
  right: 0;
  margin-right: -12px;
}

.submit-wrapper2 a:hover:before,
.submit-wrapper2 a:hover:after {
  width: 100%;
  transition: all 0.6s;
  background: #fff;
  transform: scaleY(5);
  z-index: -1;
}

.submit-wrapper2 a:hover {
  text-decoration: none;
  background: #9dd9d2;
  transition: all 0.6s;
  color: #fc965a;
  font-weight: bold;
}

/*# sourceMappingURL=message.css.map */
