{% extends 'base.html.twig' %}

{% block title %}Noot Noot Food !{% endblock %}

{% block body %}
    <div class="container-fluid">
        <!-- Stack the columns on mobile by making one full-width and the other half-width -->
        <div class="row">
            <div class="col-md-3 menu background-orange">
                <!-- Material unchecked -->
                {% for menu in menus %}
                    <div class="form-check text-center pt-3">
                        <input type="checkbox" class="form-check-input" id="materialUnchecked">
                        <label class="form-check-label" for="materialUnchecked">Material unchecked</label>
                    </div>
                {% endfor %}
            </div>
            <div class="col-md-9 choix">
                <div class="container">
                    <div class="row">
                        {% for menu in menus %}
                            <div class="col-md-4 mt-5">
                                <div class="card-container">
                                    <div class="card">
                                        <div class="front">
                                            <div class="cover">
                                                <img src="{{ menu.image }}"/>
                                            </div>
                                            <div class="content">
                                                <div class="main">
                                                    <h3 class="name">{{ menu.title }}</h3>
                                                </div>
                                            </div>
                                        </div> <!-- end front panel -->
                                        <div class="back">
                                            <div class="content">
                                                <div class="main">
                                                    <h4 class="text-center mt-3 menuDescription">{{ menu.description }}
                                                        <br><br>
                                                        <hr>
                                                        <!-- Button -->
                                                        <a href="#" class="btn btn-orange">
                                                            J'ai les crocs,<br>je commande ça !
                                                        </a>
                                                    </h4>
                                                </div>
                                            </div>
                                        </div> <!-- end back panel -->
                                    </div> <!-- end card -->
                                </div> <!-- end card-container -->
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

