{% extends 'base2.html.twig' %}{% block title %}Message envoyé !{% endblock %}{% block body %}
    <div class="container pt-5 mb-5 pb-5 ">
        <div class="row d-flex justify-content-center">
            <div class="col-md-6 mb-md-0">
                <div id="pop-up">
                    <!-- <img src="images/cross.png"> -->
                    <div class="container message">
                        <h1>VOTRE COMMANDE A BIEN ÉTÉ ENVOYÉE</h1>
                        <p>Message de la part de <strong>4 meufs</strong> et <strong>2 gars</strong>.</p>
                        <p><strong>MERCI !</strong></p>
                        <div class="cross"><i class="fa fa-times" style="color: #fff;"></i></div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 mb-md-0">
                <div class="row d-flex justify-content-end">
                    <div class="submit-wrapper justify-content-end">
                        <a href="{{ path('accueil') }}">ACCUEIL</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container pt-5 mb-5 pb-5 ">
        <div class="row d-flex justify-content-center">
            <body class="pop-up">
            </body>
        </div>
    </div>{% endblock %}

